<%-include('./partials/header'); %>
<h1></h1>
<div class="bg-light">
    <center><h1 class=""><%=movie.Moviename%> movie Details</h1></center>
    <center><div class="container m-5 text-uppercase"><%=movie.Detail%></div>
    </center>
    
  <%-include('./partials/footer'); %>

